python-dotenv
pydantic


# For Langchain
langchain
langchain-openai
langchain-aws
langchain-google-genai
langchain-community
langchain-chroma
langchain-postgres
chromadb


# For API
fastapi
# For MCP
fastmcp

# misc
tqdm
pandas
openpyxl
xlsxwriter

# sqlite
aiosqlite

